.page_container {
  flex-direction: row;
  border-radius: 4px;
  gap: 4;
  align-items: center;
  width: 138px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  flex: none;
  flex-grow: 0;
  position: relative;
  height: 48px;
  display: flex;
  border: 1px solid rgb(211, 211, 211);
  padding: 12px 20px 12px 20px;
}
.text_32 {
  font-size: 14px;
  flex: none;
  flex-grow: 0;
  color: rgb(13, 13, 13);
  line-height: 100%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: center;
  vertical-align: top;
  font-weight: 500;
}
