.page_container {
  flex-direction: row;
  border-radius: 100px;
  gap: 12;
  align-items: center;
  width: 60px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  flex: none;
  flex-grow: 0;
  position: relative;
  height: 28px;
  display: flex;
  border: 1px solid rgb(234, 234, 234);
  padding: 8px 12px 8px 12px;
}
.text_10 {
  font-size: 12px;
  flex: none;
  flex-grow: 0;
  color: rgb(160, 160, 160);
  line-height: 100%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: center;
  vertical-align: top;
  font-weight: 500;
}
