.page_container {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.10000000149011612);
  flex-direction: row;
  flex-grow: 0;
  border-radius: 4px;
  position: relative;
  gap: 4;
  height: 36px;
  align-items: center;
  width: 115px;
  flex: none;
  background-color: rgb(13, 13, 13);
  justify-content: center;
  display: flex;
  padding: 8px 12px 8px 12px;
}
.text_74 {
  font-size: 13px;
  flex: none;
  flex-grow: 0;
  color: rgb(255, 255, 255);
  line-height: 100%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: center;
  vertical-align: top;
  font-weight: 500;
}
