.page_container {
  width: 1280px;
  background-color: rgb(255, 255, 255);
  position: relative;
  height: 800px;
}
.frame_42731902218 {
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 1000px;
  gap: 12;
  top: 97;
  left: 140;
  justify-content: flex-start;
  height: 635px;
  display: flex;
}
.frame_4273190359 {
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  align-items: center;
  position: relative;
  width: 1000px;
  align-self: stretch;
  justify-content: space-between;
  height: 104px;
  display: flex;
}
.frame_4273190038 {
  flex-direction: row;
  flex: none;
  flex-grow: 0;
  align-items: center;
  position: relative;
  width: 286px;
  gap: 20;
  justify-content: flex-start;
  height: 72px;
  display: flex;
}
.ic_line_arrowleft_1 {
  width: 24px;
  flex: none;
  flex-grow: 0;
  position: relative;
  height: 24px;
}
.iconman_1 {
  flex-direction: row;
  flex: none;
  flex-grow: 0;
  border-radius: 12px;
  position: relative;
  gap: 4;
  padding: 16px;
  height: 72px;
  align-items: center;
  width: 72px;
  justify-content: center;
  background-color: rgb(242, 250, 253);
  display: flex;
}
.frame_4273188807 {
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 94px;
  gap: 12;
  justify-content: flex-start;
  height: 70px;
  display: flex;
}
.frame_4273190237 {
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 94px;
  gap: 10;
  justify-content: flex-start;
  height: 45px;
  display: flex;
}
.header_1 {
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  align-items: flex-start;
  position: absolute;
  width: 1280px;
  top: 0;
  left: 0;
  justify-content: flex-start;
  height: 73px;
  display: flex;
}
.text_7 {
  font-size: 13px;
  flex: none;
  flex-grow: 0;
  color: rgb(15, 15, 15);
  line-height: 100%;
  font-family: Noto Sans;
  position: relative;
  text-align: left;
  vertical-align: middle;
  font-weight: 500;
}
.loginstate_1 {
  flex-direction: row;
  flex: none;
  flex-grow: 0;
  align-items: center;
  position: relative;
  width: 65px;
  gap: 8;
  justify-content: flex-start;
  height: 13px;
  display: flex;
}
.btn_icon_8 {
  background-color: rgb(252, 252, 252);
  position: relative;
  border-radius: 4px;
  gap: 10;
  height: 28px;
  align-items: center;
  width: 36px;
  flex-grow: 0;
  flex-direction: row;
  justify-content: center;
  flex: none;
  display: flex;
  border: 1px solid rgb(234, 234, 234);
}
.ic_linemorehorizontal_1 {
  width: 20px;
  flex: none;
  flex-grow: 0;
  position: relative;
  height: 20px;
}
.frame_4273190199 {
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 194px;
  gap: 8;
  justify-content: flex-start;
  height: 104px;
  display: flex;
}
.btn_1 {
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  border-radius: 4px;
  position: relative;
  gap: 4;
  align-self: stretch;
  height: 48px;
  align-items: center;
  width: 344px;
  background-color: rgb(234, 234, 234);
  justify-content: center;
  display: flex;
  padding: 12px 20px 12px 20px;
}
.frame_42731903418 {
  flex-direction: row;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 1000px;
  gap: 16;
  justify-content: flex-start;
  height: 519px;
  display: flex;
}
.group_414 {
  width: 300px;
  flex: none;
  flex-grow: 0;
  position: relative;
  height: 440px;
}
.image_12 {
  box-shadow: 0px 4px 20px rgba(0,0,0,0.07999999821186066);
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
  height: 440px;
}
.image_313 {
  background-color: rgba(255, 255, 255, 0.20000000298023224);
  border-radius: 4px;
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
  height: 440px;
}
.frame_42731904014 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-radius: 100px;
  gap: 4;
  top: 174;
  left: 104;
  padding: 24px;
  height: 92px;
  align-items: center;
  width: 92px;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.07999999821186066);
  display: flex;
  border: 1px solid rgb(234, 234, 234);
}
.illustrationpreview_1 {
  flex: none;
  flex-grow: 0;
  border-radius: 4px;
  position: relative;
  width: 44px;
  height: 44px;
}
.body_18 {
  flex-direction: column;
  border-radius: 4px;
  gap: 16;
  align-items: flex-start;
  width: 684px;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  flex: none;
  flex-grow: 0;
  position: relative;
  height: 519px;
  display: flex;
  border: 1px solid rgb(234, 234, 234);
  padding: 16px 24px 16px 24px;
}
.head_17 {
  flex: none;
  flex-direction: column;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  gap: 8;
  width: 636px;
  align-self: stretch;
  justify-content: flex-start;
  height: 49px;
  display: flex;
}
.main_menu_17 {
  flex-direction: row;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 400px;
  justify-content: flex-start;
  height: 40px;
  display: flex;
}
.sidemenu_list_1 {
  flex-direction: row;
  flex: none;
  flex-grow: 0;
  align-items: center;
  position: relative;
  width: 100px;
  justify-content: center;
  height: 40px;
  display: flex;
}
.divider_1 {
  width: 344px;
  flex: none;
  flex-grow: 0;
  position: relative;
  height: 1px;
}
.frame_42731897118 {
  flex: none;
  flex-direction: column;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  gap: 12;
  width: 636px;
  align-self: stretch;
  justify-content: flex-start;
  height: 422px;
  display: flex;
}
.paragraphpattern_21 {
  flex: none;
  flex-direction: column;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  gap: 2;
  width: 636px;
  align-self: stretch;
  justify-content: flex-start;
  height: 50px;
  display: flex;
}
.frame_42731902431 {
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: -8px 0px 20px rgba(0,0,0,0.05999999865889549);
  position: absolute;
  gap: 40;
  top: 0;
  height: 800px;
  left: 880;
  align-items: flex-start;
  width: 400px;
  justify-content: flex-start;
  display: flex;
  padding: 24px 28px 24px 28px;
}
.frame_42731902731 {
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 344px;
  gap: 20;
  justify-content: flex-start;
  height: 580px;
  display: flex;
}
.frame_42731902523 {
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 344px;
  gap: 8;
  justify-content: flex-start;
  height: 49px;
  display: flex;
}
.frame_42731902923 {
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  align-items: center;
  position: relative;
  width: 344px;
  align-self: stretch;
  justify-content: space-between;
  height: 40px;
  display: flex;
}
.text_23 {
  font-size: 20px;
  flex: none;
  flex-grow: 0;
  color: rgb(13, 13, 13);
  line-height: 100%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: left;
  vertical-align: middle;
  font-weight: 700;
}
.btn_icon_1 {
  background-color: rgb(248, 248, 248);
  position: relative;
  border-radius: 2px;
  gap: 10;
  height: 40px;
  align-items: center;
  flex-direction: row;
  width: 40px;
  flex: none;
  flex-grow: 0;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.10000000149011612);
  display: flex;
  border: 1px solid rgb(234, 234, 234);
}
.frame_42731902625 {
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 344px;
  gap: 12;
  justify-content: flex-start;
  height: 69px;
  display: flex;
}
.text_25 {
  font-size: 13px;
  flex: none;
  flex-grow: 0;
  color: rgb(63, 63, 63);
  line-height: 100%;
  font-family: Noto Sans;
  position: relative;
  text-align: left;
  vertical-align: middle;
  font-weight: 600;
}
.search_boxselect_1 {
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 344px;
  align-self: stretch;
  justify-content: flex-start;
  height: 44px;
  display: flex;
}
.frame_42731902831 {
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 344px;
  gap: 12;
  justify-content: flex-start;
  height: 265px;
  display: flex;
}
.search_boxselect_31 {
  flex: none;
  position: relative;
  align-self: stretch;
  padding: 16px;
  height: 240px;
  align-items: flex-start;
  width: 344px;
  flex-grow: 0;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  border: 1px solid rgb(234, 234, 234);
}
.text_31 {
  font-size: 13px;
  flex: none;
  flex-grow: 1;
  color: rgb(196, 196, 196);
  line-height: 100%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: left;
  vertical-align: middle;
  font-weight: 500;
}
