.page_container {
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 240px;
  align-self: stretch;
  justify-content: flex-start;
  height: 44px;
  display: flex;
}
.assets_49 {
  flex-direction: row;
  border-radius: 4px;
  gap: 10;
  align-self: stretch;
  align-items: center;
  width: 240px;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  flex: none;
  flex-grow: 1;
  position: relative;
  height: 44px;
  display: flex;
  border: 1px solid rgb(234, 234, 234);
  padding: 16px 12px 16px 12px;
}
.text_45 {
  font-size: 13px;
  flex: none;
  flex-grow: 1;
  color: rgb(196, 196, 196);
  line-height: 100%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: left;
  vertical-align: middle;
  font-weight: 500;
}
