.page_container {
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 295px;
  gap: 4;
  justify-content: flex-start;
  height: 54px;
  display: flex;
}
.text_15 {
  font-size: 13px;
  flex: none;
  flex-grow: 0;
  color: rgb(160, 160, 160);
  line-height: 160%;
  font-family: Noto Sans JP;
  position: relative;
  align-self: stretch;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
}
.text_20 {
  font-size: 18px;
  flex: none;
  flex-grow: 0;
  color: rgb(15, 15, 15);
  line-height: 160%;
  font-family: Noto Sans JP;
  position: relative;
  align-self: stretch;
  text-align: left;
  vertical-align: top;
  font-weight: 700;
}
