.container {
  align-items: center;
  min-height: 100%;
  width: 100%;
  justify-content: center;
  height: auto;
  display: flex;
}
.inner_container_1667211072474 {
  width: 375px;
  background-color: rgb(244, 244, 244);
  position: relative;
  height: 812px;
}
.frame_42731883441 {
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 375px;
  gap: 10;
  top: 102;
  left: 0;
  justify-content: flex-start;
  height: 712px;
  display: flex;
}
.frame_726126 {
  flex-direction: row;
  flex: none;
  flex-grow: 0;
  align-items: center;
  position: relative;
  width: 181px;
  gap: 6;
  justify-content: flex-start;
  height: 32px;
  display: flex;
}
.frame_42731883314 {
  flex: none;
  flex-direction: column;
  flex-grow: 0;
  position: relative;
  gap: 4;
  align-self: stretch;
  height: 160px;
  align-items: flex-start;
  width: 375px;
  justify-content: flex-start;
  display: flex;
  padding: 0px 20px 0px 20px;
}
.image_14 {
  flex: none;
  flex-grow: 0;
  position: relative;
  width: 335px;
  align-self: stretch;
  height: 160px;
}
.frame_726226 {
  flex: none;
  flex-direction: column;
  flex-grow: 0;
  position: relative;
  gap: 12;
  align-self: stretch;
  height: 139px;
  align-items: flex-start;
  width: 375px;
  justify-content: flex-start;
  display: flex;
  padding: 0px 20px 0px 20px;
}
.frame_42731883222 {
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 335px;
  gap: 6;
  justify-content: flex-start;
  height: 83px;
  display: flex;
}
.frame_42731883121 {
  flex-direction: row;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 110px;
  gap: 6;
  justify-content: flex-start;
  height: 25px;
  display: flex;
}
.frame_42731882919 {
  flex-direction: row;
  flex: none;
  flex-grow: 0;
  border-radius: 4px;
  position: relative;
  height: 25px;
  align-items: flex-start;
  width: 40px;
  background-color: rgb(255, 218, 1);
  justify-content: flex-start;
  display: flex;
  padding: 4px 8px 4px 8px;
}
.text_19 {
  font-size: 12px;
  flex: none;
  flex-grow: 0;
  color: rgb(15, 15, 15);
  line-height: 140%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
}
.frame_42731883021 {
  flex-direction: row;
  flex: none;
  flex-grow: 0;
  border-radius: 4px;
  position: relative;
  height: 25px;
  align-items: flex-start;
  width: 64px;
  background-color: rgb(255, 218, 1);
  justify-content: flex-start;
  display: flex;
  padding: 4px 8px 4px 8px;
}
.text_22 {
  font-size: 16px;
  flex: none;
  flex-grow: 0;
  color: rgb(15, 15, 15);
  line-height: 160%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: left;
  vertical-align: top;
  font-weight: 700;
}
.line_123 {
  flex: none;
  flex-grow: 0;
  position: relative;
  width: 335px;
  align-self: stretch;
  border: 1 solid rgb(234, 234, 234);
}
.image_25 {
  width: 32px;
  flex: none;
  flex-grow: 0;
  position: relative;
  height: 32px;
}
.text_26 {
  font-size: 13px;
  flex: none;
  flex-grow: 0;
  color: rgb(160, 160, 160);
  line-height: 160%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
}
.searchbar_44 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 375px;
  top: 46;
  left: 0;
  height: 44px;
}
.frame_42731881744 {
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 375px;
  gap: 8;
  top: 0;
  left: 0;
  justify-content: center;
  height: 44px;
  display: flex;
}
.text_44 {
  font-size: 20px;
  flex: none;
  flex-grow: 0;
  color: rgb(13, 13, 13);
  line-height: 100%;
  font-family: Lato;
  position: relative;
  text-align: right;
  vertical-align: top;
  font-weight: 900;
}
.ic_linehamburger_44 {
  width: 24px;
  flex: none;
  flex-grow: 0;
  position: relative;
  height: 24px;
}
.divider_44 {
  width: 375px;
  top: 98.86%;
  position: absolute;
  height: 0px;
}
.rectangle_845 {
  background-color: rgba(0, 0, 0, 0.4000000059604645);
  position: absolute;
  width: 375px;
  top: 0;
  left: -4.547473508864641e-13;
  height: 812px;
}
.sidemenuprod_71 {
  flex-direction: row;
  background-color: rgb(248, 248, 248);
  align-items: flex-start;
  position: absolute;
  width: 220px;
  top: 0;
  left: -4.547473508864641e-13;
  justify-content: flex-start;
  height: 812px;
  display: flex;
}
.sidemenu_71 {
  flex-direction: column;
  flex: none;
  flex-grow: 1;
  align-items: flex-start;
  position: relative;
  width: 219px;
  justify-content: flex-start;
  height: 533px;
  display: flex;
}
.mypage_link_50 {
  flex: none;
  flex-direction: column;
  flex-grow: 0;
  position: relative;
  gap: 10;
  align-self: stretch;
  height: 150px;
  align-items: flex-start;
  width: 219px;
  justify-content: center;
  display: flex;
  padding: 80px 20px 30px 20px;
}
.text_49 {
  font-size: 18px;
  flex: none;
  flex-grow: 0;
  color: rgb(13, 13, 13);
  line-height: 100%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: right;
  vertical-align: top;
  font-weight: 700;
}
.text_50 {
  font-size: 12px;
  flex: none;
  flex-grow: 0;
  color: rgb(108, 108, 108);
  line-height: 100%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: right;
  vertical-align: top;
  font-weight: 400;
}
.menu_list_71 {
  flex: none;
  flex-direction: column;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  gap: 8;
  width: 219px;
  align-self: stretch;
  justify-content: flex-start;
  height: 383px;
  display: flex;
}
.main_menu_66 {
  flex: none;
  flex-direction: column;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 219px;
  align-self: stretch;
  justify-content: flex-start;
  height: 192px;
  display: flex;
}
.sidemenu_list_57 {
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 219px;
  align-self: stretch;
  justify-content: flex-start;
  height: 64px;
  display: flex;
}
.selected_54 {
  background-color: rgb(13, 13, 13);
  flex: none;
  flex-grow: 0;
  position: relative;
  width: 4px;
  height: 64px;
}
.flame_57 {
  flex: none;
  background-color: rgb(240, 240, 240);
  flex-grow: 1;
  position: relative;
  gap: 10;
  align-self: stretch;
  height: 64px;
  align-items: flex-start;
  width: 215px;
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  padding: 22px 0px 22px 24px;
}
.inner_57 {
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  align-items: center;
  position: relative;
  gap: 16;
  width: 134px;
  align-self: stretch;
  justify-content: flex-start;
  height: 20px;
  display: flex;
}
.ic_filledsignboard_56 {
  width: 20px;
  flex: none;
  flex-grow: 0;
  position: relative;
  height: 20px;
}
.text_57 {
  font-size: 14px;
  flex: none;
  flex-grow: 0;
  color: rgb(13, 13, 13);
  line-height: 100%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: left;
  vertical-align: top;
  font-weight: 700;
}
.sidemenu_list_63 {
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  position: relative;
  align-self: stretch;
  height: 64px;
  align-items: flex-start;
  width: 219px;
  justify-content: flex-start;
  display: flex;
  padding: 22px 0px 22px 24px;
}
.inner_63 {
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  align-items: center;
  position: relative;
  gap: 16;
  width: 106px;
  align-self: stretch;
  justify-content: flex-start;
  height: 20px;
  display: flex;
}
.image_61 {
  right: 8.33%;
  position: absolute;
  width: 16px;
  top: 37.5%;
  left: 8.33%;
  bottom: 12.5%;
  height: 10px;
  border: 2 solid rgb(128, 128, 128);
}
.image_62 {
  right: 8.33%;
  position: absolute;
  width: 16px;
  top: 8.33%;
  left: 8.33%;
  bottom: 62.95%;
  height: 5px;
  border: 2 solid rgb(128, 128, 128);
}
.text_63 {
  font-size: 14px;
  flex: none;
  flex-grow: 0;
  color: rgb(141, 141, 141);
  line-height: 100%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
}
.divider_66 {
  flex: none;
  flex-grow: 0;
  position: relative;
  width: 219px;
  align-self: stretch;
  height: 0px;
}
.dividerlinehorizontal_67 {
  width: 219px;
  align-self: stretch;
  flex-grow: 0;
  position: relative;
  flex: none;
}
.sub_menu_71 {
  flex: none;
  flex-direction: column;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 219px;
  align-self: stretch;
  justify-content: flex-start;
  height: 159px;
  display: flex;
}
.sidemenu_list_71 {
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  position: relative;
  align-self: stretch;
  height: 53px;
  align-items: flex-start;
  width: 219px;
  justify-content: flex-start;
  display: flex;
  padding: 20px 0px 20px 24px;
}
.frame_756271 {
  flex-direction: row;
  flex: none;
  flex-grow: 0;
  align-items: center;
  position: relative;
  width: 26px;
  gap: 16;
  justify-content: flex-start;
  height: 13px;
  display: flex;
}
.text_71 {
  font-size: 13px;
  flex: none;
  flex-grow: 0;
  color: rgb(141, 141, 141);
  line-height: 100%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: left;
  vertical-align: top;
  font-weight: 500;
}
.divider_71 {
  transform: rotate(90deg);
  flex: none;
  flex-grow: 0;
  position: relative;
  width: 800px;
  height: 1px;
}
