.container {
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  width: 100%;
  justify-content: center;
  height: auto;
  display: flex;
}
.header_default_63 {
  flex-direction: column;
  max-width: 1280px;
  align-items: flex-start;
  position: relative;
  width: 100%;
  justify-content: flex-start;
  height: 73px;
  display: flex;
}
.inner_container_1667978418629 {
  width: 1280px;
  background-color: rgb(255, 255, 255);
  position: relative;
  height: 800px;
}
.frame_42731901463 {
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 1000px;
  gap: 28;
  top: 101;
  left: 140;
  justify-content: flex-start;
  height: 544px;
  display: flex;
}
.box_45 {
  width: auto;
  background-color: rgb(211, 211, 211);
  height: 300px;
}
.box_46 {
  width: auto;
  background-color: rgb(255, 255, 255);
  height: 300px;
}
.frame_42731887963 {
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 1000px;
  gap: 16;
  justify-content: flex-start;
  height: 474px;
  display: flex;
}
.frame_4273188787 {
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  align-items: flex-end;
  position: relative;
  width: 1000px;
  align-self: stretch;
  justify-content: space-between;
  height: 88px;
  display: flex;
}
.frame_4273188807 {
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 320px;
  gap: 20;
  justify-content: flex-start;
  height: 88px;
  display: flex;
}
.header_5 {
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 168px;
  gap: 16;
  justify-content: flex-start;
  height: 28px;
  display: flex;
}
.search_7 {
  flex-direction: row;
  border-radius: 8px;
  gap: 12;
  align-items: center;
  width: 320px;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  flex: none;
  flex-grow: 0;
  position: relative;
  height: 40px;
  display: flex;
  border: 1px solid rgb(240, 240, 240);
  padding: 8px 12px 8px 12px;
}
.ic_linesearch_6 {
  width: 20px;
  flex: none;
  flex-grow: 0;
  position: relative;
  height: 20px;
}
.text_7 {
  font-size: 14px;
  flex: none;
  flex-grow: 0;
  color: rgb(196, 196, 196);
  line-height: 100%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: center;
  vertical-align: top;
  font-weight: 500;
}
.btn_7 {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.10000000149011612);
  flex-direction: row;
  flex-grow: 0;
  border-radius: 4px;
  position: relative;
  gap: 4;
  height: 48px;
  align-items: center;
  width: 188px;
  flex: none;
  background-color: rgb(13, 13, 13);
  justify-content: flex-start;
  display: flex;
  padding: 8px 12px 8px 12px;
}
.frame_42731887763 {
  flex: none;
  flex-direction: column;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 1000px;
  align-self: stretch;
  justify-content: flex-start;
  height: 370px;
  display: flex;
}
.table_record_18 {
  background-color: rgb(252, 252, 252);
  position: relative;
  align-self: stretch;
  height: 40px;
  align-items: flex-start;
  width: 1000px;
  flex-grow: 0;
  flex-direction: column;
  justify-content: flex-start;
  flex: none;
  display: flex;
  border: 1px solid rgb(234, 234, 234);
}
.container_17 {
  flex: none;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
  align-self: stretch;
  height: 40px;
  align-items: center;
  width: 1000px;
  justify-content: flex-start;
  display: flex;
  padding: 12px 20px 12px 20px;
}
.text_area_17 {
  flex-direction: row;
  flex: none;
  flex-grow: 1;
  align-items: center;
  position: relative;
  width: 960px;
  justify-content: flex-start;
  height: 13px;
  display: flex;
}
.frame_777913 {
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 100px;
  justify-content: center;
  height: 13px;
  display: flex;
}
.text_13 {
  font-size: 13px;
  flex: none;
  flex-grow: 0;
  color: rgb(141, 141, 141);
  line-height: 100%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: left;
  vertical-align: middle;
  font-weight: 500;
}
.frame_42731888015 {
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 200px;
  justify-content: center;
  height: 13px;
  display: flex;
}
.frame_763717 {
  flex-direction: row;
  flex: none;
  flex-grow: 1;
  align-items: center;
  position: relative;
  width: 660px;
  gap: 12;
  justify-content: flex-start;
  height: 13px;
  display: flex;
  padding: 0px 16px 0px 0px;
}
.text_17 {
  font-size: 13px;
  flex: none;
  flex-grow: 1;
  color: rgb(141, 141, 141);
  line-height: 100%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: left;
  vertical-align: middle;
  font-weight: 500;
}
.line_2118 {
  flex: none;
  flex-grow: 0;
  position: relative;
  width: 1000px;
  align-self: stretch;
  border: 1 solid rgb(234, 234, 234);
}
.table_record_27 {
  background-color: rgb(255, 255, 255);
  position: relative;
  align-self: stretch;
  height: 66px;
  align-items: flex-start;
  flex-grow: 0;
  width: 1000px;
  flex: none;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  border: 1px solid rgb(234, 234, 234);
  padding: 0px 20px 0px 20px;
}
.container_27 {
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  align-items: center;
  position: relative;
  width: 960px;
  align-self: stretch;
  justify-content: flex-start;
  height: 66px;
  display: flex;
  padding: 12px 0px 12px 0px;
}
.text_area_27 {
  flex-direction: row;
  flex: none;
  flex-grow: 1;
  align-items: center;
  position: relative;
  width: 960px;
  justify-content: flex-start;
  height: 42px;
  display: flex;
}
.frame_763623 {
  flex-direction: row;
  flex: none;
  flex-grow: 0;
  align-items: center;
  position: relative;
  width: 100px;
  gap: 10;
  justify-content: flex-start;
  height: 21px;
  display: flex;
}
.text_23 {
  font-size: 13px;
  flex: none;
  flex-grow: 1;
  color: rgb(108, 108, 108);
  line-height: 160%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: left;
  vertical-align: middle;
  font-weight: 500;
}
.frame_778325 {
  flex-direction: row;
  flex: none;
  flex-grow: 0;
  align-items: center;
  position: relative;
  width: 200px;
  gap: 10;
  justify-content: flex-start;
  height: 21px;
  display: flex;
}
.text_25 {
  font-size: 13px;
  flex: none;
  flex-grow: 1;
  color: rgb(13, 13, 13);
  line-height: 160%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: left;
  vertical-align: middle;
  font-weight: 500;
}
.frame_763727 {
  flex-direction: row;
  flex: none;
  flex-grow: 1;
  align-items: center;
  position: relative;
  width: 660px;
  gap: 12;
  justify-content: flex-start;
  height: 42px;
  display: flex;
  padding: 0px 16px 0px 0px;
}
.text_27 {
  font-size: 13px;
  flex: none;
  flex-grow: 1;
  color: rgb(63, 63, 63);
  line-height: 160%;
  font-family: Noto Sans JP;
  position: relative;
  width: 100%;
  text-align: left;
  vertical-align: middle;
  font-weight: 400;
}
.switcheditmode_2 {
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 2px;
  height: 42px;
  align-items: flex-start;
  width: 480px;
  flex-grow: 0;
  flex-direction: row;
  justify-content: flex-start;
  flex: none;
  display: flex;
  border: 1px solid rgb(234, 234, 234);
}
