.page_container {
  box-shadow: 0px 2px 10px rgba(0,0,0,0.10000000149011612);
  flex-direction: column;
  flex-grow: 0;
  border-radius: 16px;
  position: relative;
  height: 215px;
  align-items: center;
  width: 100%;
  flex: none;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 8px 0px 28px 0px;
}
.lists_pref_one_line_text_3 {
  flex: none;
  flex-direction: column;
  flex-grow: 0;
  position: relative;
  align-self: stretch;
  height: 59px;
  align-items: flex-start;
  width: 100%;
  justify-content: flex-start;
  display: flex;
  padding: 16px 24px 16px 24px;
}
.text_3 {
  font-size: 19px;
  flex: none;
  flex-grow: 0;
  color: rgb(13, 13, 13);
  line-height: 140%;
  font-family: Noto Sans JP;
  position: relative;
  align-self: stretch;
  text-align: left;
  vertical-align: middle;
  font-weight: 700;
}
.frame_4273189288 {
  flex: none;
  flex-direction: column;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 100%;
  align-self: stretch;
  height: auto;
  justify-content: flex-start;
  display: flex;
  padding: 0px 24px 0px 24px;
}
.btn_6 {
  flex-direction: row;
  align-self: stretch;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  flex: none;
  flex-grow: 0;
  position: relative;
  height: 60px;
  display: flex;
  border: 1px solid rgb(240, 240, 240);
  padding: 10px 12px 10px 12px;
}
.text_6 {
  font-size: 14px;
  flex: none;
  flex-grow: 0;
  color: rgb(13, 13, 13);
  line-height: 100%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: center;
  vertical-align: top;
  font-weight: 500;
}
.tag_6 {
  flex-direction: row;
  border-radius: 100px;
  gap: 12;
  align-items: center;
  width: 60px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  flex: none;
  flex-grow: 0;
  position: relative;
  height: 28px;
  display: flex;
  border: 1px solid rgb(234, 234, 234);
  padding: 8px 12px 8px 12px;
}
