.page_container {
  flex-direction: column;
  flex: none;
  flex-grow: 0;
  align-items: flex-start;
  position: relative;
  width: 100%;
  align-self: stretch;
  height: auto;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  display: flex;
}
.th_70 {
  flex-direction: row;
  gap: 4;
  align-self: stretch;
  align-items: flex-start;
  width: 100%;
  justify-content: flex-start;
  background-color: rgb(234, 234, 234);
  flex: none;
  flex-grow: 0;
  position: relative;
  height: auto;
  display: flex;
  border: 1px solid rgb(234, 234, 234);
  padding: 8px 12px 8px 12px;
}
.text_70 {
  font-size: 15px;
  flex: none;
  flex-grow: 0;
  color: rgb(15, 15, 15);
  line-height: 160%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: left;
  vertical-align: top;
  font-weight: 700;
}
.td_73 {
  flex: none;
  position: relative;
  align-self: stretch;
  padding: 12px;
  height: auto;
  align-items: flex-start;
  width: 100%;
  flex-grow: 0;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  border: 1px solid rgb(234, 234, 234);
}
.text_73 {
  font-size: 13px;
  flex: none;
  flex-grow: 1;
  color: rgb(63, 63, 63);
  line-height: 160%;
  font-family: Noto Sans JP;
  position: relative;
  text-align: left;
  vertical-align: top;
  font-weight: 400;
}
